* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden !important;
    font-size: 10px;
    font-family: Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    background: white;
    z-index: 100;
    transition: all 0.4s ease-in-out;
}

.logo {
    width: 140px;
    height: 60px;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background: whitesmoke;
    font-size: 1.8rem;
    color: black;
    font-weight: bold;
    transform: translateX(100%);
    list-style-type: none;
}

.menu.active {
    transform: translateX(0);
    position: fixed;
}

.rozwijanie {
    height: 3.4rem;
    width: 3.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: transparent;
    border: none;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.rozwijanie.active {
    z-index: 10;
    position: fixed;
    right: 30px;
}

.rozwijanie span {
    width: 100%;
    height: 0.4rem;
    border-radius: 0.5rem;
    background: gray;
    transition: all 0.3s ease-in-out;
}

.rozwijanie.active > span:nth-child(1) {
    transform: rotate(-45deg) translateY(0.8rem);
    width: 80%;
}

.rozwijanie.active > span:nth-child(2) {
    transform: rotate(45deg) translateY(-0.8rem);
    width: 80%;
}

.rozwijanie.active > span:nth-child(3) {
    transform: translateX(100vw);
}

#container {
    background-color: whitesmoke;
}

#all {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

#kontakt {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

h1 {
    font-size: 40px;
    color: #D25210;
    font-weight: 600;
}

#dane {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: #8FB23E;
    padding: 10px 3px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

h2 {
    font-size: 25px;
    background-color: #6E4C54;
    padding: 2px;
    color: white;
}

.h3-kontakt {
    font-size: 20px;
    background-color: #6E4C54;
    padding: 2px;
    color: white;
}

p {
    font-size: 16px;
    color: white;
    font-weight: 600;
}

#img-map {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

#img {
    width: 340px;
    height: 340px;
}

#map {
    width: 340px;
    height: 340px;
}

#uwagadiv {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

#uwaga {
    font-size: 30px;
    font-weight: 700;
    color: red;
    text-align: center;
}

footer {
    letter-spacing: 0.6px;
    text-align: center;
}

#footer-all {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#img-links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-top: 30px;
}

#img-footer {
    width: 150px;
    height: 150px;
}

footer ul li {
    text-align: center;
    font-size: 18px;
    list-style: none;
}

#links-footer {
    line-height: 25px;
    margin-bottom: 50px;
}

#h3-footer {
    font-size: 22px;
    text-align: center;
}

.footer-kontakt {
    font-size: 18px;
    margin-bottom: 15px;
}

#footer-tel {
    margin-bottom: 50px;
}

@media only screen and (min-width: 768px) {
    .logo {
        width: 170px;
    }

    #kontakt {
        padding-top: 80px;
        padding-bottom: 50px;
    }

    h1 {
        font-size: 60px;
    }

    #dane {
        margin-top: 50px;
        gap: 50px;
    }

    h2 {
        font-size: 45px;
        margin-bottom: 10px;
    }

    .h3-kontakt {
        font-size: 40px;
        margin-bottom: 10px;
    }

    p {
        font-size: 35px;
    }

    #img {
        width: 650px;
        height: 650px;
    }

    #map {
        width: 650px;
        height: 650px;
    }
}

@media only screen and (min-width: 1024px) {
    .rozwijanie {
        display: none;
    }

    .logo {
        width: 170px;
    }

    .menu {
        position: unset;
        background: inherit;
        list-style: none;
        flex-direction: row;
        height: inherit;
        width: max-content;
        gap: 5rem;
        font-size: 1.2rem;
        align-items: center;
        transform: translateX(0);
        display: flex;
    }

    .menu-link {
        position: relative;
        cursor: pointer;
    }

    .menu-link::after {
        content: '';
        width: 0%;
        height: 0.2rem;
        background: gray;
        position: absolute;
        bottom: -0.2rem;
        left: 0;
        border-radius: 2rem;
        transition: all 0.2s;
    }

    .menu-link:hover::after {
        width: 100%;
    }

    #footer-all {
        flex-direction: row;
        justify-content: space-around;
        padding-top: 40px;
    }

    footer ul li{
        text-align: left;
        background: url(images/footer-dot.png) left no-repeat;
        padding: 6px 0px 7px 12px;
    }

    #h3-footer {
        text-align: left;
    }

    #img-footer {
        width: 250px;
        height: 250px;
    }
}

@media only screen and (min-width: 1300px) {
    #container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h1 {
        font-size: 100px;
    }

    #all {
        flex-direction: row;
    }

    #img {
        width: 400px;
        height: 400px;
    }

    #map {
        width: 400px;
        height: 400px;
    }

    #dane {
        align-items: flex-start;
        margin: 0;
        height: 830px;
        width: 480px;
        padding-left: 15px;
        padding-top: 15px;
    }

    .info {
        align-items: flex-start;
    }

    h2 {
        font-size: 35px;
    }

    .h3-kontakt {
        font-size: 30px;
    }

    p {
        font-size: 20px;
    }

    #uwaga {
        font-size: 50px;
        margin-top: 60px;
        margin-bottom: 60px;
    }
}